*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:rgb(227, 85, 13);
   
}
.calcatore{
    width:350px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    background:#fff;
    box-shadow:20px 5px 15px rgba(0 ,0,0,0.18);
    border-radius:8px;
    padding:15px;
  


}
input:not(.text){
    border-radius:50%;
    width:50px;
    height:50px;
    font-size:24px;
    font-weight:500px;
    border:none;
    margin:8px;
    transition:all 0.2s ease-in-out;
    cursor:pointer;
}
input:hover:not(.text,.operator){
    background:#000;
    color:rgb(227, 85, 13);
}
.operator{
    color:rgb(227, 85, 13);

}
.operator:hover{
color:#000;
background:rgb(227, 85, 13);

}
.text{
    width:100%;
    height:70px;
    padding:0  20px 0 0;
    text-align:right;
    font-size:24px;
    border-radius:5px;
    border:2px solid #000;
    margin-bottom:15px;
    border-radius:50px;
}
.calcatore .equal{
    width:120px;
    border-radius:20px;
}




